.imageProfileUploadPreview {
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin-bottom: 15px;
}

.imageCoverUploadPreview {
	width: 360px;
	height: 150px;
	overflow: hidden;
	margin-bottom: 15px;

}

.imageProfileUploadPreview img, .imageCoverUploadPreview img {
	width: 100%;
}

.searchBox {
	/*background: #cfcfcf;*/
	position: absolute;
	z-index: 100;
	background: white;
	/*top: 100px;*/
	width: 200px;
	border: 1px solid rgba(0, 22, 46, 0.62);
}

.searchBox img {
	width: 50px;
	height: 50px;
}

.ownFriendsImages {
	display: inline-block;
	/*border: 1px solid rgba(81, 81, 81, 1);*/
	padding: 0;
	margin: 0 0 -35px 0;

}
.ownFriendsImages span {
	position: relative;
	float: left;
	/*border: 1px solid;*/
	width: 100%;
	padding: 5px;
	background: rgba(51, 51, 51, 0.76);
	color:  white;
	vertical-align: bottom;
	height: 35px;
	top: -35px;
}
.ownFriendsImages img, .thumbnail-box {
	width: 100%;
	padding: 0;
	margin: 0;
}

/*legend {*/
	/*margin:3px;*/
	/*text-align:center;*/
	/*width:100%;*/
	/*border: 1px solid;*/
/*}*/

.post {
	/*border: 1px solid grey;*/
}
.ownFriendsImages img{
	display: block;
}

.post-profile-image {
	width: 100px;
	height: 100px;
	padding: 0;
	border: 1px solid grey;
	/*overflow: hidden;*/
}

.comment-profile-image {
	width: 80px;
	height: 80px;
	padding: 0;
	border: 1px solid grey;
	/*overflow: hidden;*/
}

.post-profile-image img, .comment-profile-image img {
	width: 100%;
	height: 100%;
}

.post-details {
	/*display: inline-block;*/
}
.post-profile-image {
	/*display: inline-block;*/
}

.pesho {
	color:red;
}

.pesho:hover {
	color:blue 
}
.even_row {
	background: red;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}