.glyphicon {
	font-size: 30px;
	line-height: 50px;
}

/*.active {*/
	/*padding: 35px;*/
	/*/!*margin: 0;*!/*/
/*}*/

.home.nav.navbar-nav > .active > a {
	padding: 10px 23px;
}

.home.nav > li {
	padding: 0;
	vertical-align: middle;
}
.home.nav > li  > a {
	line-height: 40px;
	vertical-align: middle;
}

.home.navbar-nav > li > a {
	/*line-height: 50px;*/
	padding: 5px 20px;
}

/*SEARCH*/
/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 0;
	pointer-events: none;
	font-size: 25px;
}

/* align icon */
.right-addon .glyphicon { right: 5px;}

/* add padding  */
.right-addon input { padding-right: 30px; }
/*SEARCH*/

/*Start Animation*/
.animate-show {
	line-height: 20px;
	opacity: 1;
	padding: 10px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.animate-show.ng-hide {
	line-height: 0;
	opacity: 0;
	padding: 0 10px;
}

.check-element {
	padding: 10px;
	border: 1px solid black;
}
/*End Animation*/

.spinner {
	color: red;
}
.likes-preview-box{
	position: absolute;
	z-index: 1000;
	width: 220px;
}

.likes-preview-box img {
	width: 50px;
	height: 50px;
}

.ng-dirty.ng-invalid.form-control:focus {
	border: 2px solid rgba(201, 49, 0, 0.78);
}

.ng-dirty.ng-valid.form-control:focus {
	border: 2px solid  rgba(120, 204, 74, 0.52);
}
.col-centered{
	float: none;
	/*display: inline-block;*/
	padding: 0;
	width: 335px;
	margin: 0 auto;
}
.popupPreview {
	/*float: left;*/
	position: absolute;
	z-index: 1000;
}

.popupPreview img{
	width: 100px;
	height: 100px;
}
.userWallCoverImage {
	margin: -25px 0 25px 0;
	padding: 0;
	height: 200px;
	overflow: hidden;
}

.userWallCoverImage img {
	width: 100%;
	margin: 0;
}

.userWallProfileImage {
	width: 200px;
	height: 200px;
	border:  1px solid;
	padding: 0;
	overflow: hidden;
	margin-top: -200px;
	margin-left: 150px;
}
.userWallProfileImage img {
	width: 100%;
	height: 100%;
}

.imageProfileUploadPreview {
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin-bottom: 15px;
}
.navbarProfileImage {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.imageCoverUploadPreview {
	width: 360px;
	height: 150px;
	overflow: hidden;
	margin-bottom: 15px;
}

.imageProfileUploadPreview img, .imageCoverUploadPreview img {
	width: 100%;
}

.searchBox {
	/*background: #cfcfcf;*/
	position: absolute;
	z-index: 100;
	background: white;
	/*top: 100px;*/
	width: 200px;
	/*border: 1px solid;*/
	padding-left: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 2px 10px 5px;
}

.searchBox img {
	width: 50px;
	height: 50px;
}

.ownFriendsImages {
	/*display: inline-block;*/
	/*border: 1px solid rgba(81, 81, 81, 1);*/
	padding: 0;
	width: 100px;
	height: 100px;
	/*background: url("../img/defaultProfileImagePreview.png");*/
	/*margin: 0 0 -35px 0;*/

}
.ownFriendsImages span {
	position: relative;
	float: left;
	/*border: 1px solid;*/
	width: 100%;
	padding: 2px;
	background: rgba(51, 51, 51, 0.76);
	color:  white;
	vertical-align: bottom;
	height: 35px;
	top: -35px;
	font-size: 12px;
}
.ownFriendsImages img, .thumbnail-box {
	width: 100%;
	height: 100%;
	/*height: 120px;*/
	padding: 0;
	margin: 0;
	/*content:url("../img/defaultProfileImagePreview.png");*/
}

/*legend {*/
	/*margin:3px;*/
	/*text-align:center;*/
	/*width:100%;*/
	/*border: 1px solid;*/
/*}*/
/*.panel-default {*/
	/*margin-top: 25px;*/
/*}*/
.post {
	/*border: 1px solid grey;*/
}
.ownFriendsImages img{
	display: block;
}

.post-profile-image {
	width: 100px;
	height: 100px;
	padding: 0;
	border: 1px solid grey;
	/*overflow: hidden;*/
}

.comment-profile-image {
	width: 80px;
	height: 80px;
	padding: 0;
	margin-left: 10px;
	border: 1px solid grey;
	/*overflow: hidden;*/
}

.post-profile-image img, .comment-profile-image img {
	width: 100%;
	height: 100%;
}

.post-details {
	/*display: inline-block;*/
}
.post-profile-image {
	/*display: inline-block;*/
}

.pesho {
	color:red;
}

.pesho:hover {
	color:blue 
}
.even_row {
	background: red;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}