<div class="navbar navbar-default" ng-include="'./templates/partials/navbar.html'"
     ng-controller="navigationController"></div>

<div class="col-md-8 col-md-offset-2" ng-controller="readerController">
    <div class="well bs-component row">
        <div class="col-md-6">
            <div class="imageProfileUploadPreview">
                <img ng-if="!isEmptyImage(user.profileImageData)"
                     ng-src="{{user.profileImageData}}" alt="" />
                <img ng-if="isEmptyImage(user.profileImageData)"
                     src="./img/defaultProfileImage.png" alt="" />
            </div>
            <button class="btn btn-primary btn-file">
                Upload <input type="file" read-profile-image="user.profileImageData">
            </button>
            <div>
                <strong>Allowed format: .jpg</strong> <br/>
                <strong>Limit 128kb</strong>
            </div>

        </div>

        <div class="col-md-6">
            <form class="form-horizontal" name="editForm">
                <fieldset>
                    <legend>Edit Profile</legend>
                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input ng-model="user.name" type="text" class="form-control"
                                   id="inputName" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input validate-email ng-model="user.email" type="text" class="form-control"
                                   id="inputEmail" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Gender</label>
                        <div class="col-lg-10">
                            <div class="radio-inline">
                                <label>
                                    <input ng-model="user.gender" type="radio" name="optionsRadios"
                                           id="male" value="1" checked="">
                                    Male
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input ng-model="user.gender" type="radio" name="optionsRadios"
                                           id="female" value="2">
                                    Female
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input ng-model="user.gender" type="radio" name="optionsRadios"
                                           id="other" value="0">
                                    Other
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="imageCoverUploadPreview">
                            <img ng-if="!isEmptyImage(user.coverImageData)"
                                 ng-src="{{user.coverImageData}}" alt="" />
                            <img ng-if="isEmptyImage(user.coverImageData)"
                                 src="./img/defaultProfileImage.png" alt="" />
                        </div>
                        <span class="btn btn-primary btn-file">
                            Upload <input type="file" read-cover-image="user.coverImageData">
                        </span>
                        <div>
                            <strong>Allowed format: .jpg</strong> <br/>
                            <strong>Limit 1024kb</strong>
                        </div>
                    </div>

                </fieldset>
                <div class="pull-right">
                    <button ng-click="editProfile(user)" ng-disabled = "editForm.$invalid" type="submit" class="btn btn-primary">
                        Save Changes
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>