<!--<div ng-include="'./templates/navbar.html'"></div>-->
<div class="navbar navbar-default" ng-include="'./templates/partials/navbar.html'"
     ng-controller="navigationController"></div>

<div class="row col-md-8 col-md-offset-2" ng-controller="userHomeController">
     <input  ng-model="friend.name" class="form-control ng-pristine ng-valid ng-touched" placeholder="Search" ng-change="search(searchName)">

     <div ng-controller="friendsController" ng-init="loadFriendsList()">
          <div ng-repeat="friend in detailedFriendsList | filter: friend">
               <div class="col-md-2 ownFriendsImages">
                    <a href="#/users/{{friend.username}}">
                         <img ng-src="{{friend.profileImageData}}" alt="" class="thumbnail"/>
                         <span>{{friend.name}}</span>
                    </a>
               </div>
          </div>
     </div>
</div>
