<div class="panel panel-default" ng-if="myFriendsData.friends">
    <div class="panel-heading">Friends - <a href="#/users/{{username}}/friends">{{myFriendsData.totalCount}}</a> total</div>
    <div class="panel-body row thumbnail-box">
        <div ng-repeat="friend in myFriendsData.friends" >
            <div class="col-md-4 ownFriendsImages">
                <a href="#/users/{{friend.username}}">
                    <img ng-src="{{friend.profileImageData}}" alt="" class="thumbnail"/>
                    <span>{{friend.name}}</span>
                </a>
            </div>
        </div>
    </div>
</div>

