<!--<div ng-include="'./templates/navbar.html'"></div>-->
<div class="navbar navbar-default" ng-include="'./templates/navbar.html'"
     ng-controller="navigationController"></div>

<div class="row col-md-12" ng-controller="userHomeController">
    <div class="col-md-8" >
        <div class="col-md-10 col-md-offset-1">
            <div ng-repeat="feed in newsFeedsData" ng-include="'./templates/post.html'">
            </div>
        </div>
        <!--<div class="row panel panel-default">-->
            <!--<div class="panel-heading">Panel heading</div>-->
            <!--<div class="panel-body">-->
                <!--Panel content-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div class="col-md-4">
        <div ng-repeat="user in users" class="ownFriendsImages">
            <img ng-src="{{user.profileImageData}}" alt="" width="100px" height="100px"/>
            <span>{{user.name}}</span>
        </div>
    </div>
</div>
<!--width="50px" height="50px"-->