<!--<div ng-include="'./templates/navbar.html'"></div>-->
<div class="navbar navbar-default" ng-include="'./templates/partials/navbar.html'"
     ng-controller="navigationController"></div>
<h1 class="row col-lg-10 col-lg-offset-1">News Feed</h1>
<div class="row col-md-12" ng-init="loadNewsFeed()">
    <div class="col-md-8" >
        <div class="col-md-10 col-md-offset-1">
            <div class="clearfix"></div>

            <div  ng-controller="postsController" infinite-scroll='loadMore()' >
                <div ng-repeat="post in postsData" ng-init="parentIndex = $index">
                    <div ng-include="'./templates/partials/post.html'"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <!--<div class="row panel panel-default">-->
            <!--<div class="panel-heading">Panel heading</div>-->
            <!--<div class="panel-body">-->
                <!--Panel content-->
            <!--</div>-->
        <!--</div>-->
    </div>


    <div ng-controller="friendsController" ng-init="loadFriendsPreview()" class="col-md-4"
         ng-include="'./templates/partials/friends-sidebar.html'">
    </div>

</div>

<div infinite-scroll="myPagingFunction()" infinite-scroll-distance="3"></div>
<!--width="50px" height="50px"-->
<!--<div cg-busy="{promise:pro,message:'Loading Your Data'}"></div>-->
<!--<span us-spinner="{radius:80, width:8, length: 16}" spinner-key="spinner-2" spinner-start-active="true"></span>-->

