<!--<div ng-include="'./templates/navbar.html'"></div>-->
<div class="navbar navbar-default" ng-include="'./templates/partials/navbar.html'"
     ng-controller="navigationController"></div>

<div style="margin-bottom: 30px" ng-controller="friendRequestsController">
    <div >
        <!--background-directive="{{userFullData.coverImageData}}"-->
        <div class="jumbotron userWallCoverImage" background-directive="{{userFullData.coverImageData}}">
            <img ng-src="{{userFullData.coverImageData}}" alt=""/>
        </div>
        <div class="userWallProfileImage">
            <img ng-src="{{userFullData.profileImageData || './img/defaultProfileImage.png'}}"
                 class="" alt=""/>
        </div>
    </div>
    <div class="col-md-12"
         ng-init="popupPersonPreview(currUserUsername)">

        <button class="btn btn-primary">
            {{userFullData.name}} / {{userFullData.gender | genderFilter}}
        </button>
        <button ng-if="userFullData.isFriend" ng-disabled="true" class="btn btn-primary">
            Friends
        </button>
        <button ng-if="userFullData.hasPendingRequest || pending" ng-disabled="true" class="btn btn-primary">
            Pending
        </button>

        <a ng-click="sendFriendRequest(userData.username)">
            <button ng-if="!userFullData.isFriend && !userFullData.hasPendingRequest && !pending"
                    class="btn btn-primary">
                Invite
            </button>
        </a>
    </div>
</div>

<div class="row col-md-12" ng-init="loadUserWall()">
    <div class="col-md-8">
        <div class="col-md-10 col-md-offset-1">
            <div class="clearfix"></div>

            <div ng-controller="postsController" infinite-scroll='loadMore()'>
                <div ng-repeat="post in postsData" ng-init="parentIndex = $index">
                    <div ng-include="'./templates/partials/post.html'"></div>
                </div>
            </div>


            <div class="clearfix"></div>
        </div>
    </div>

    <div ng-if="userFullData.isFriend" class="col-md-4">
        <div class="well bs-component col-md-12">
            <form class="form-horizontal" name="submitPostForm">
                <fieldset ng-controller="postsController">
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                        <div class="col-lg-10">
                            <textarea ng-model="content" class="form-control" minlength="2"
                                      rows="3" id="textArea" placeholder="Message" required>
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button ng-click="addNewPost(content)"
                                    ng-disabled="submitPostForm.$invalid"
                                    type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div ng-controller="friendsController" ng-init="loadFriendsPreview()" class="col-md-12">
            <div ng-include="'./templates/partials/friends-sidebar.html'"></div>
        </div>
    </div>
</div>
<!--width="50px" height="50px"-->