<!--comment-->
<div class="panel panel-default row">
    <div class="panel-heading">
        <div class="row">
            <div class="comment-profile-image col-md-4">
                <img ng-src="{{comment.author.profileImageData}}"
                     fallback-src="{{defaultProfileImagePreview}}"
                     alt="{{comment.author.name}}"/>
            </div>
            <div class="col-md-8">
                <span ng-init="showDiv = false;"
                      ng-click="popupPersonPreview(comment.author.username, $index);showDiv = true;">
                    <strong><a href="">{{comment.author.name}}</a></strong></span>
                <span>{{comment.date | date:'d MMM yyyy HH:mm:ss'}}</span>

                <div ng-mouseleave="showDiv = false;" ng-show="showDiv" class="popupPreview animate-show">
                    <div ng-include="'templates/partials/popupUserDetails.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-show="!showEditArea">
        {{comment.commentContent}}<br/>
    </div>
    {{showEditDialog}}
    <!-- Edit Area -->
    <div class="panel-body animate-show" ng-show="showEditArea">

        <textarea class="form-control" ng-model="content" ng-init="content = comment.commentContent" >
            {{content}}
        </textarea>

        <button class="btn btn-primary btn-xs"
                ng-click="editComment(post.id, comment.id, parentIndex, $index, content); showEditArea = false;">
            Save
        </button>
        <button class="btn btn-primary btn-xs" ng-click="showEditArea = false;">Cancel</button>
    </div>
    <!-- Edit Area -->
    <div class="panel-heading">

        <span ng-if="isMyOwnWall || isMyNewsFeed() || userFullData.isFriend || comment.author.isFriend">
            <a ng-if="isLiked(comment)" ng-click="likeComment(post.id, comment)">
                <button class="btn btn-primary btn-xs">
                    Like
                </button>
            </a>
            <a ng-if="isNotLiked(comment)" ng-click="unlikeComment(post.id, comment)">
                <button class="btn btn-primary btn-xs">
                    Unlike
                </button>
            </a>
        </span>

        <!-- Likes area -->
        <span class="pull-right">
            Likes:
            <a href="" title="Show who likes this post">
                <span ng-click="getCommentPreviewLikes(post.id, comment.id); showLikesPreview = true;"
                      class="badge">
                {{comment.likesCount}}
                </span>
            </a>

            <span ng-init="showLikesPreview = false" ng-show="showLikesPreview"
                  ng-mouseleave="showLikesPreview = false;">
                <span ng-include="'./templates/partials/popupLikesPreview.html'"></span>
            </span>
        </span>
        <!-- Likes area -->

        <a ng-if="(comment.author.username == myUsername())"
           ng-click="deleteComment(post.id, comment.id, parentIndex, $index)">
            <button class="btn btn-primary btn-xs">
                Delete {{parentIndex}} - {{$index}}
            </button>
        </a>


        <a ng-click="showEditArea = true" ng-init="showEditArea = false;">
            <button ng-if="comment.author.username == myUsername()" class="btn btn-primary btn-xs"
                    ng-disabled="showEditArea">
                Edit-{{showEditDialog}}
            </button>
        </a>

        <div class="clearfix"></div>

        <!--<div class="panel-body" ng-show="showEditArea">-->

            <!--<textarea ng-model="editedComment" class="form-control">{{comment.commentContent}}-->
            <!--</textarea>-->

            <!--<button class="btn btn-primary btn-xs"-->
                    <!--ng-click="editComment(post.id, comment.id, parentIndex, $index, 'new comment111')">-->
                <!--Save-->
            <!--</button>-->
            <!--<button class="btn btn-primary btn-xs" ng-click="showEditArea = false;">Cancel</button>-->
        <!--</div>-->
        <!--{{comment}}-->
    </div>
</div>
<!--comment-->