<div class="panel panel-default" ng-if="friendsPreviewList.friends">
    <div class="panel-heading">
        Friends - <a href="#/users/{{currUserUsername}}/friends">
        {{friendsPreviewList.totalCount}}</a> total
    </div>
    <div class="panel-body">
        <div class="row col-md-12 col-centered">
            <div ng-repeat="friend in friendsPreviewList.friends" >
                <div class="col-md-4 ownFriendsImages">
                    <a href="#/users/{{friend.username}}">
                        <img ng-src="{{friend.profileImageData}}"
                             fallback-src="{{defaultProfileImagePreview}}" alt="" class="thumbnail"/>
                        <span>{{friend.name}}</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

