<!--guest navigation-->
<div class="container-fluid" ng-if="!isLogged">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">Social Network</a>
    </div>
    <div class="navbar-collapse collapse" > <!--id="navbar-main"-->
        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/login')}">
                <a href="#/login">Login</a>
            </li>
            <li ng-class="{ active: isActive('/register')}">
                <a href="#/register">Register</a>
            </li>
        </ul>
    </div>
</div>
<!--guest navigation-->

<!--user navigation-->
<div class="container-fluid" ng-if="isLogged" ng-init="intervalFunction()">
    <div class="navbar-header">
        <a ng-if="name" href="#/users/{{username}}" class="navbar-brand">{{name}}</a>
        <a ng-if="!name" href="#/" class="navbar-brand">Social Network</a>
    </div>
    <div class="navbar-collapse collapse" ><!--id="navbar-main"-->
        <ul class="home nav navbar-nav">
            <li>
                <a href="#/users/{{username}}">
                    <img ng-if="profileImage" ng-src="{{profileImage}}" class="navbarProfileImage" alt=""/>
                    <img ng-if="!profileImage" src="./img/defaultProfileImage.png" class="navbarProfileImage" alt=""/>
                </a>
            </li>
            <li ng-class="{ active: isActive('/')}">
                <a href="#/">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>

            <li ng-controller="friendRequestsController">
                <a ng-click="showFriendRequests()" href="">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="badge">{{numberOfRequests || ""}}</span>
                </a>
                <div ng-show="showRequests" class="searchBox animate-show"
                     ng-mouseleave="showRequests = false">
                    <div ng-include="'./templates/partials/friendRequestsBox.html'"></div>
                </div>
            </li>
            <li ng-class="{ active: isActive('/edit-profile')}">
                <a href="#/edit-profile" title="Edit Profile">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </li>
            <li ng-class="{ active: isActive('/change-password')}">
                <a href="#/change-password" title="Change Password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </a>
            </li>
            <li ng-controller="logoutController">
                <a ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                </a>
            </li>
            <!--<li ng-controller="logoutController">-->
            <!--<a href="#/users/:username/friends">Friends</a>-->
            <!--</li>-->
        </ul>
        <form class="navbar-form navbar-right" role="search"
              ng-controller="searchController" ng-include="'./templates/partials/searchFriendsBox.html'">
        </form>
    </div>
</div>
<!--user navigation-->