<div class="modal-content">
    <div class="modal-body">
        <img ng-src="{{userData.profileImageData}}" alt=""/><br/>
        {{userData.name}} / {{userData.gender | genderFilter}}

    </div>
    <div class="modal-footer" ng-if="myUsername() != userData.username">
        <button ng-if="!userData.isFriend && !userData.hasPendingRequest && !pending"
                ng-click="sendFriendRequest(userData.username)" type="button"
                class="btn btn-primary btn-xs" data-dismiss="modal">
            Invite
        </button>
        <button ng-if="userData.isFriend" ng-disabled="true" type="button"
                class="btn btn-primary btn-xs" data-dismiss="modal">
            Friends
        </button>
        <button ng-if="userData.hasPendingRequest || pending" ng-disabled="true" type="button"
                class="btn btn-primary btn-xs" data-dismiss="modal">
            Pending
        </button>
    </div>
</div>
