<!--post-->
<div class="panel panel-default" ng-init="toLocalTimeZone(post)">
    <div class="panel-heading">
        <div class="row panel-body">
            <div class="post-profile-image col-md-4">
                <img ng-src="{{post.author.profileImageData}}" alt=""/><br/>
            </div>
            <div class="post-details col-md-8">
                <span ng-init="showDiv = false;"
                      ng-click="popupPersonPreview(post.author.username, $index);showDiv = true;">
                    <strong><a href="">{{post.author.name}}</a></strong>
                </span> to <strong>{{post.wallOwner.name}}</strong><br/>
                <span>{{post.date | date : 'd MMM yyyy, HH:mm:ss'}}</span>

                <div ng-mouseleave="showDiv = false;" ng-show="showDiv" class="popupPreview">
                    <div ng-include="'templates/partials/popupUserDetails.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12"></div>
        {{post.postContent}} <br/>
    </div>
    <div class="panel-heading">
        <span class="pull-right">
            Likes: <span class="badge">{{post.likesCount}}</span>
        </span>
        <span class="pull-right">
            Comments: <span class="badge">{{post.totalCommentsCount}}</span>
        </span>
        <span ng-if="isMyOwnWall() || userFullData.isFriend || post.author.isFriend">
            <a ng-if="isLiked(post)" ng-click="likePost(post)">
                <button class="btn btn-primary btn-xs">
                    Like
                </button>
            </a>
            <a ng-if="isNotLiked(post)" ng-click="unlikePost(post)">
                <button class="btn btn-primary btn-xs">
                    Unlike
                </button>
            </a>
        </span>

        <span ng-if="post.totalCommentsCount > 3">
            <a ng-show="showMore" ng-init="showMore = true;" ng-click="showMoreComments(post, $index); showMore = false; showLess = true">
                <button class="btn btn-primary btn-xs">
                    More comments
                </button>
            </a>
            <a ng-show="showLess" ng-init="showLess = false;" ng-click="showLessComments(); showLess = false; showMore = true;">
                <button class="btn btn-primary btn-xs">
                    Less comments
                </button>
            </a>
        </span>

        <!---->
        <a ng-click="showCommentArea = true;" ng-init="showCommentArea = false;">
            <button ng-if="isMyOwnWall() || post.author.isFriend || userFullData.isFriend || (post.author.username == myUsername())"
                    ng-disabled="showCommentArea" class="btn btn-primary btn-xs">
                Comment
            </button>
        </a>
        <a>
            <button ng-if="isMyOwnWall() || (post.author.username == myUsername())" ng-click="deletePost(post, $index)" class="btn btn-primary btn-xs">
                Delete
            </button>
        </a>
    </div>
</div>
<!--<div class="panel panel-default">-->
    <!--<textarea ng-model="comment"></textarea>-->
    <!--<button ng-click="addCommentToPost(feed, $index, comment)">Send</button>-->
<!--</div>-->

<div ng-show="showCommentArea" class="well bs-component col-md-10 pull-right">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-10">
                    <textarea ng-model="comment" class="form-control" rows="3" id="textArea" placeholder="Message"></textarea>
                </div>
            </div>

            <div class="form-group">
                <!--<div class="col-lg-10 col-lg-offset-1">-->
                    <button ng-click="addCommentToPost(post, $index, comment)"
                            type="submit" class="btn btn-primary btn-xs pull-right">
                        Post comment
                    </button>
                    <button ng-click="showCommentArea = false;"
                            type="submit" class="btn btn-primary btn-xs pull-right">
                        Cancel comment
                    </button>
                <!--</div>-->
            </div>
        </fieldset>
    </form>
</div>

<div class="clearfix"></div>

<div ng-repeat="comment in post.comments|limitTo: limit">
    {{parentIndex}}
    <div ng-include="'./templates/partials/comment.html'" class="col-md-10 pull-right">

    </div>
    <div class="clearfix"></div>
</div>

<!--<div ng-if="isShowAllpostComments" ng-repeat="comment in allPostComments track by $index|limitTo: limit"-->
     <!--ng-include="'./templates/comment.html'" class="col-md-10 pull-right">-->
<!--</div>-->
<!--<div ng-if="isShowAllpostComments" ng-repeat="comment in allPostComments track by $index|limitTo: limit"-->
     <!--ng-include="'./templates/comment.html'" class="col-md-10 pull-right">-->
<!--</div>-->
<!--ng-if="isShowComment-->
<!--post-->
