<!--post-->
<div class="panel panel-default" ng-init="toLocalTimeZone(post);">
    <div class="panel-heading">
        <div class="row panel-body">
            <div class="post-profile-image col-md-4">
                <img ng-src="{{post.author.profileImageData}}"
                     fallback-src="{{defaultProfileImagePreview}}"
                     alt="{{post.author.name}}" title="{{post.author.name}}"/><br/>
            </div>
            <div class="post-details col-md-8">
                <span ng-init="showDiv = false;"
                      ng-click="popupPersonPreview(post.author.username, $index);showDiv = true;">
                    <strong><a href="">{{post.author.name}}</a></strong>
                </span> to <strong>{{post.wallOwner.name}}</strong><br/>
                <span>{{post.date | date : 'd MMM yyyy, HH:mm:ss'}}</span>

                <div ng-mouseleave="showDiv = false;" ng-show="showDiv" class="popupPreview animate-show">
                    <div ng-include="'templates/partials/popupUserDetails.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12"></div>
        <span ng-show="!showEditArea">{{post.postContent}}</span><br/>

        <!-- Edit Area -->
        <div class="panel-body animate-show" ng-show="showEditArea">

        <textarea class="form-control" ng-model="content" ng-init="content = post.postContent" >
            {{content}}
        </textarea>

            <button class="btn btn-primary btn-xs"
                    ng-click="editPost(post.id, parentIndex, content); showEditArea = false;">
                Save
            </button>
            <button class="btn btn-primary btn-xs" ng-click="showEditArea = false;">Cancel</button>
        </div>
        <!-- Edit Area -->
    </div>
    <div class="panel-heading">
        <span ng-if="isMyOwnWall() || isMyNewsFeed() || userFullData.isFriend || post.author.isFriend">
            <a ng-if="isLiked(post)" ng-click="likePost(post)">
                <button class="btn btn-primary btn-xs">
                    Like
                </button>
            </a>
            <a ng-if="isNotLiked(post)" ng-click="unlikePost(post)">
                <button class="btn btn-primary btn-xs">
                    Unlike
                </button>
            </a>
        </span>

        <span ng-if="post.totalCommentsCount > 3">
            <a ng-show="showMore" ng-init="showMore = true;" ng-click="showMoreComments(post, $index); showMore = false; showLess = true">
                <button class="btn btn-primary btn-xs">
                    More comments
                </button>
            </a>
            <a ng-show="showLess" ng-init="showLess = false;" ng-click="showLessComments(); showLess = false; showMore = true;">
                <button class="btn btn-primary btn-xs">
                    Less comments
                </button>
            </a>
        </span>

        <!---->
        <a ng-click="showCommentArea = true;" ng-init="showCommentArea = false;">
            <button ng-if="isMyNewsFeed() || post.author.isFriend || userFullData.isFriend || (post.author.username == myUsername())"
                    ng-disabled="showCommentArea" class="btn btn-primary btn-xs">
                Comment
            </button>
        </a>

        <a ng-click="deletePost(post, $index);">
            <button ng-if="isMyOwnWall() || (post.author.username == myUsername())"
                    class="btn btn-primary btn-xs">
                Delete
            </button>
        </a>

        <a ng-click="showEditArea = true" ng-init="showEditArea = false;">
            <button ng-if="post.author.username == myUsername()" class="btn btn-primary btn-xs" ng-disabled="showEditArea">
                Edit
            </button>
        </a>
        <!-- Likes area -->
        <span class="pull-right">
            Likes:
            <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
            <a href="" title="Show who likes this post">
                <span ng-click="getPostPreviewLikes(post.id); showLikesPreview = true;"
                      class="badge">
                {{post.likesCount}}
                </span>
            </a>

            <span ng-init="showLikesPreview = false" ng-show="showLikesPreview"
                  ng-mouseleave="showLikesPreview = false;">
                <span ng-include="'./templates/partials/popupLikesPreview.html'"></span>
            </span>
        </span>
        <!-- Likes area -->

        <span class="pull-right">
            Comments: <span class="badge">{{post.totalCommentsCount}}</span>
        </span>
        <div class="clearfix"></div>
    </div>
</div>
<!--<div class="panel panel-default">-->
    <!--<textarea ng-model="comment"></textarea>-->
    <!--<button ng-click="addCommentToPost(feed, $index, comment)">Send</button>-->
<!--</div>-->
<div ng-show="showCommentArea" class="well bs-component col-md-10 pull-right animate-show">
    <form class="form-horizontal" name="postCommentForm">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-10">
                    <textarea ng-model="comment" class="form-control" rows="3"
                              minlength="2" id="textArea" placeholder="Message" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <!--<div class="col-lg-10 col-lg-offset-1">-->
                    <button ng-disabled="postCommentForm.$invalid" ng-click="addCommentToPost(post, $index, comment)"
                            type="submit" class="btn btn-primary btn-xs pull-right">
                        Post comment
                    </button>
                    <button ng-click="showCommentArea = false;"
                            type="submit" class="btn btn-primary btn-xs pull-right">
                        Cancel comment
                    </button>
                <!--</div>-->
            </div>
        </fieldset>
    </form>
</div>

<div class="clearfix"></div>

<div ng-repeat="comment in post.comments|limitTo: limit">
    <div ng-include="'./templates/partials/comment.html'" class="col-md-10 pull-right">

    </div>
    <div class="clearfix"></div>
</div>

<!--<div ng-if="isShowAllpostComments" ng-repeat="comment in allPostComments track by $index|limitTo: limit"-->
     <!--ng-include="'./templates/comment.html'" class="col-md-10 pull-right">-->
<!--</div>-->
<!--<div ng-if="isShowAllpostComments" ng-repeat="comment in allPostComments track by $index|limitTo: limit"-->
     <!--ng-include="'./templates/comment.html'" class="col-md-10 pull-right">-->
<!--</div>-->
<!--ng-if="isShowComment-->
<!--post-->
