<!--<div  class="well bs-component col-md-10 pull-right animate-show">-->
    <!--<form class="form-horizontal">-->
        <!--<fieldset>-->
            <!--<div class="form-group">-->
                <!--<div class="col-lg-10">-->
                    <!--<textarea ng-model="comment" class="form-control" rows="3" id="textArea" placeholder="Message"></textarea>-->
                <!--</div>-->
            <!--</div>-->
        <!--</fieldset>-->
    <!--</form>-->
    <!--<div class="form-group">-->
        <!--&lt;!&ndash;<div class="col-lg-10 col-lg-offset-1">&ndash;&gt;-->
        <!--<button ng-click="addCommentToPost(post, $index, comment)"-->
                <!--type="submit" class="btn btn-primary btn-xs pull-right">-->
            <!--Post comment-->
        <!--</button>-->
        <!--<button ng-click="showCommentArea = false;"-->
                <!--type="submit" class="btn btn-primary btn-xs pull-right">-->
            <!--Cancel comment-->
        <!--</button>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->