<div class="form-group"  ng-controller="friendsController">
    <div class="inner-addon right-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input type="search" ng-model="searchName" class="form-control"
               placeholder="Search" ng-change="search(searchName);">
    </div>


    <div class="searchBox">
        <div ng-repeat="user in users">
            <a href="#/users/{{user.username}}">
                <img ng-src="{{user.profileImageData}}"
                     fallback-src="{{defaultProfileImagePreview}}" alt=""/>
                {{user.name}}
            </a>

        </div>
    </div>
</div>
<!--<button type="submit" class="btn btn-default">Search</button>-->