<div class="navbar navbar-default" ng-include="'./templates/partials/navbar.html'"
     ng-controller="navigationController"></div>

<div class="col-md-6 col-md-offset-3">
    <div class="well bs-component">
        <form class="form-horizontal" name="changePasswordForm">
            <fieldset>
                <legend>Change Password</legend>

                <div class="form-group">
                    <label for="oldPassword" class="col-lg-2 control-label">Old password</label>
                    <div class="col-lg-10">
                        <input ng-model="user.oldPassword" minlength="6" maxlength="100"
                               type="password" class="form-control" id="oldPassword"
                               placeholder="Password" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword" class="col-lg-2 control-label">
                        New password
                    </label>
                    <div class="col-lg-10">
                        <input ng-model="user.newPassword" minlength="6" maxlength="100"
                               type="password" class="form-control" id="newPassword"
                               placeholder="Password" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="col-lg-2 control-label">
                        Confirm password
                    </label>
                    <div class="col-lg-10">
                        <input ng-model="user.confirmPassword" minlength="6" ng-maxlength="100"
                               type="password" class="form-control" id="confirmPassword"
                               placeholder="Password" compare-to="user.newPassword" required>
                        <!--compare-to="user.newPassword"-->
                    </div>
                </div>

                <div class="form-group">
                    <div class="row col-lg-12">
                        <div class="col-md-6">
                            <button ng-click="changeProfilePassword(user)" type="submit" class="btn btn-primary"
                                    ng-disabled="changePasswordForm.$invalid || (user.newPassword != user.confirmPassword)">
                                Save Changes
                            </button>
                        </div>

                        <div class="col-md-6 text-danger"
                             ng-if="(user.newPassword != user.confirmPassword)">
                            <strong>Confirm password must match new password!</strong>
                        </div>
                        <!--{{user.newPassword}} | {{user.confirmPassword}}-->
                        <!--<div class="col-md-6 text-danger" ng-show="user.newPassword.length < 6">-->
                        <!--The password must be at least 6 symbols long-->
                        <!--</div>-->
                    </div>

                </div>
            </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
</div>